.SignupPage {
  width: 1000px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(222, 214, 214, 0.792);
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    h2 {
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      .inputWrapper {
        display: flex;
        align-items: center;
        position: relative;
        button {
          position: absolute;
          right: 170px;
          top: 5px;
          cursor: pointer;
          background: none;
          border: none;
          font-size: 25px;
        }
      }
      .button {
        padding: 10px;
        background: rgb(118, 118, 230);
        color: white;
        border: none;
        outline: none;
        border-radius: 15px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1541px) {
  .SignupPage {
    width: 800px;
  }
}

@media (max-width: 1313px) {
  .SignupPage {
    width: 600px;
  }
}

@media (max-width: 1149px) {
  .SignupPage {
    width: 500px;
  }
}

@media (max-width: 909px) {
  .SignupPage {
    width: 500px;
  }
}
