.SignupPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ff6a00, #ee0979);

  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .content {
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    .form {
      display: flex;
      flex-direction: column;

      .input {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }

      .inputWrapper {
        position: relative;

        .eyeButton {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;

          .eyeIcon {
            width: 20px;
            height: 20px;
          }
        }
      }

      .uploadedImage {
        width: 100%;
        height: auto;
        margin: 10px 0;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      }

      .error {
        color: red;
        font-size: 14px;
        margin-bottom: 10px;
      }

      .button {
        padding: 10px;
        background-color: #ee0979;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #ff6a00;
        }
      }

      .links {
        margin-top: 10px;
        text-align: center;

        a {
          color: #ee0979;
          text-decoration: none;
          font-size: 14px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// Адаптивность
@media (max-width: 480px) {
  .container {
    padding: 15px;
  }

  .input,
  .button {
    font-size: 14px;
  }
}
