.side {
  display: flex;
  justify-content: space-between;
  .LayoutSite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    main {
      // margin: auto;
      margin-bottom: auto;
    }
    footer {
      // display: none;
      margin-top: auto;
    }
  }
}
