@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap");

.SideBar {
  width: 350px;
  padding: 20px;
  border-right: 1px solid rgba(157, 143, 143, 0.589);
  .content {
    .logo {
      margin: 40px 0;
      display: flex;
      align-items: center;
      gap: 10px;
      h3 {
        font-family: "Arima", system-ui;
        letter-spacing: 2px;
        font-size: 30px;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    nav {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .navBox {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
      &:hover {
        background: rgba(205, 199, 199, 0.679);
      }
      span {
        font-size: 25px;
        background: none;
      }
      a {
        font-size: 20px;
        color: black;
        text-decoration: none;
      }
    }
    .down {
      position: relative;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .another {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        cursor: pointer;
      }
      .menu {
        position: absolute;
        top: -280px;
        z-index: 1;
      }
    }
  }
}

@media (max-width: 1150px) {
  .SideBar {
    width: 300px;
    padding: 20px;
    border-right: 1px solid rgba(157, 143, 143, 0.589);
    .content {
      .logo {
        h3 {
          font-family: "Arima", system-ui;
          letter-spacing: 2px;
          font-size: 25px;
        }
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      .navBox {
        span {
          font-size: 20px;
          background: none;
        }
      }
      .down {
        .another {
        }
        .menu {
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .SideBar {
    width: 250px;
    padding: 20px;
    border-right: 1px solid rgba(157, 143, 143, 0.589);
    .content {
      .logo {
        h3 {
          font-family: "Arima", system-ui;
          letter-spacing: 2px;
          font-size: 20px;
        }
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }

      .navBox {
      }
      .down {
        .another {
        }
        .menu {
        }
      }
    }
  }
}
@media (max-width: 909px) {
  .SideBar {
    width: 350px;
    .content {
      .logo {
      }
      .navBox {
        a {
          font-size: 18px;
        }
      }
    }
  }
}
@media (max-width: 755px) {
  .SideBar {
    width: 100px;

    .content {
      .logo {
        margin: 10px 0;
        h3 {
          display: none;
        }
        img {
          width: 50px;
          height: 50px;
        }
      }
      nav {
        display: flex;
        flex-direction: column;
        gap: 0;
      }
      .navBox {
        span {
          font-size: 30px;
          background: none;
        }
        .link {
          display: none;
        }
      }
      .down {
        margin-top: 20px;
        .another {
          font-size: 30px;
          h4 {
            display: none;
          }
        }
        .menu {
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .SideBar {
    display: none;
  }
}
