.header {
  padding: 10px 0;
  .content {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    padding: 0 10px;
    &::-webkit-scrollbar {
      display: none;
    }
    .box {
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      .borderImage {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        background: #833ab4;
        background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
        z-index: -8;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      p {
        font-size: 13px;
        font-weight: 800;
        width: 80%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
